.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  padding: 34px;
  flex-direction: column;
}

.FooterDistance {
  margin-top: 30px;
}

.socFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 61px;
}

.logo a {
  height: 100%;
}

.rights {
  color: var(--dark-sea);
  font-size: 12px;
  line-height: 15px;
}

.rights a {
  color: var(--violet);
}

.socials {
  display: flex;
  gap: 15px;
}

.socials svg {
  width: 24px;
  height: 24px;
  fill: var(--dark-sea);
}

.socials svg:hover {
  fill: var(--violet);
}

@media screen and (max-width: 1200px) {
  .rights {
    font-size: 14px;
  }
}

@media screen and (max-width: 1000px) {
  .rights {
    font-size: 18px;
  }
  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    padding: 34px;
    flex-direction: column;
  }
  
  .FooterDistance {
    height: 80px;
    margin-top: 30px;
  }
  
  .socFooter {
    margin-top: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo {
    width: 91px;
  }
}