.sidebar {
  width: 304px;
  padding: 24px;
  height: 430px;
  display: flex;
  flex-direction: column;
}

.sidebarPadding {
  margin-bottom: 0px;
  margin-top: 0px;
}

.title {
  font-weight: 600;
  line-height: 20px;
}

.title_sale {
    font-weight: 900;
    font-size: 80px;
    line-height: 105px;
    text-transform: uppercase;
    color: var(--bg);
    text-align: center;
}

.menu {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.link {
  color: var(--dark-sea);
  font-size: 14px;
  line-height: 17px;
  text-transform: capitalize;
  margin: 140px 40px 0px 0px;
}

.link:hover {
  color: var(--white);
}

.link.active {
  color: var(--violet);
  border-bottom: 2px solid violet;
}

.footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}

.flex {
  display: block;
}

@media screen and (max-width: 1000px) {
  .sidebar {
    font-size: 24px;
    width: 1228px;
    padding: 57px;
    height: 488px;
    display: flex;
    flex-direction: column;
    margin-left: 2%;
  }
  .flex {
    display: flex;
    justify-content: space-around;
  }
  .link {
    margin: 70px 40px 0px 0px;
    font-size: 20px;
  }
}



@media screen and (min-width: 1001px) {
  .title_sale {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .sidebar {
    font-size: 24px;
    width: 1228px;
    padding: 57px;
    height: 488px;
    display: flex;
    flex-direction: column;
    margin-left: 2%;
  }
  .title_sale {
    width: 700px;
    height: 160px;
    font-size: 102px;
  }
  .link {
    padding-top: 20px;
    margin: 160px 70px 0px 0px;
    font-size: 22px;
  }
}

@media screen and (max-width: 740px) {
  .title_sale {
    display: none;
  }
  .sidebar {
    font-size: 24px;
    width: 938px;
    padding: 57px;
    height: 588px;
    display: flex;
    flex-direction: column;
    margin-left: 2%;
  }
  .link {
    padding-top: 100px;
    margin: 50px 208px 1px 0px;
    font-size: 26px;
  }
  li {
    margin-top: 20px;
  }
}